:root {

    --title-color: #D2691E;
    --h-color: #2d3265;
    }
* {
    margin: 0em;
    padding: 0em;
}
html {
    font-family: 'Ubuntu', sans-serif;
    }

body {
    background: #f0f0f5;

}
.navbar{
    display: flex;
    justify-content: center;
    
}



.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--title-color);
    width: 100%;
    display: flex;
    justify-content: center;

   
}

.navbar li {
    float: left;
    font-weight: bold;
}

.navbar li a {
    display: block;
    color: var(--h-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li:hover {
    background-color: var(--h-color);
    
}

.navbar li a:hover {
    color: var(--title-color);
}


#topo header {
    color: var(--title-color);
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;

}

#topo p{
    color: var(--h-color);
    font-size: 25px;
    text-align: center;
}

.content {
    margin-top: 50px;
    margin-right: 40px;
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
    color: var(--h-color);
}
.content    {
    background-color: #a6a4a4;
    border-radius: 20px;
    padding: 10px;


}

.content img {
    height: 200px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 200px;

}
#redes {
    width: 100%;
    margin-bottom: 80px;
}

#redes img {
    height: 60px;
    width: 60px;
    float: left;
    width: 15%;
    margin-top: 30px;
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--title-color);
    color: var(--h-color);
    text-align: center;


}





